<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>어드민 홈</p>
<!--<th:block sec:authorize="isAuthenticated()">-->
<!--    Logged user: <span sec:authentication="principal.username">Bob</span>-->
<!--    Logged email: <span sec:authentication="principal.email">Bob</span>-->
<!--    <form th:action="@{/logout}" method="post">-->
<!--        <input type="submit" value="로그아웃">-->
<!--    </form>-->
<!--</th:block>-->
</body>
</html>