<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>홈</p>
<p th:text="${userInfo.getUsername()}"></p>
<p th:text="${userInfo.getEmail()}"></p>
<p th:text="${userInfo.getRole()}"></p>
<div></div>
<th:block sec:authorize="isAuthenticated()">
    Logged user: <span sec:authentication="name">Bob</span>
    Logged role: <span sec:authentication="principal.authorities">Bob</span>
    Logged password: <span sec:authentication="principal.password">Bob</span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="로그아웃">
    </form>
</th:block>
</body>
</html>